.nav-heigth{
	height: 38px;
}
.margen-der{
	margin-right: 2rem;
}
.text1{
	margin-top:20px;
	color:#757575;
}
.menu-boton{
	background-color:#78909c;
}

.menu-boton:hover{
	background-color:#1565c0;
}
.img-superior{
	width: 100%;
}
.botones{
	width: 9rem;
	font-size: 10px;
}
